body {
text-align: center;
text-decoration: none;
font-family: raleway;
color: #515b31;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
}

h1, a {
	text-transform: uppercase;
}

header {
	background-color: #F15B31;
	color:#FFFFFF;
	padding: 30px 20px;
}

body {
	margin: 0;
}

h1 {
	margin: 0;
}

nav {
	background-color: #00A683;
	padding: 20px 0;
}

a {
	margin: 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent; 
}

a:hover {
	border-bottom: #FFFFFF;
}

main {
	width: 850px;
	margin: 35px auto;

}
 img {
 	margin: 40px 8px;
 }

 footer {
 	text-transform: uppercase;
 	padding: 0 20px;
 	background-color: #0D2C40;
 	color: #FFFFFF;
 	font-size: 14px;
 	letter-spacing: .08em;
 	font-weight: 500;
 }

p footer {
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;

}







